# This file controls the behaviour of line input editing for
# programs that use the GNU readline(3) library.
# Existing programs include FTP, Bash, and GDB.
#
# You can re-read this inputrc file with C-x C-r or `bind -f ~/.inputrc`.

# First, include any system-wide bindings and variable assignments from /etc/inputrc
$include /etc/inputrc

# If set to 'on', Readline attempts to briefly move the cursor to an opening parenthesis when a closing parenthesis is inserted. The default is 'off'.
set blink-matching-paren on

# If set to 'on', when listing completions, Readline displays the common prefix of the set of possible completions using a different color. The color definitions are taken from the value of the LS_COLORS environment variable. The default is 'off'.
set colored-completion-prefix on

# If set to 'on', Readline displays possible completions using different colors to indicate their file type. The color definitions are taken from the value of the LS_COLORS environment variable. The default is 'off'.
set colored-stats on

# If set to 'on', Readline performs filename matching and completion in a case-insensitive fashion. The default value is 'off'.
set completion-ignore-case on

# If set to 'on', and completion-ignore-case is enabled, Readline treats hyphens ('-') and underscores ('_') as equivalent when performing case-insensitive filename matching and completion. The default value is 'off'.
set completion-map-case on

# When set to 'on', Readline will configure the terminal in a way that will enable it to insert each paste into the editing buffer as a single string of characters, instead of treating each character as if it had been read from the keyboard. This can prevent pasted characters from being interpreted as editing commands. The default is 'off'.
set enable-bracketed-paste on

# If set to 'on', completed names which are symbolic links to directories have a slash appended (subject to the value of mark-directories). The default is 'off'.
set mark-symlinked-directories on

# This alters the default behavior of the completion functions. If set to 'on', words which have more than one possible completion cause the matches to be listed immediately instead of ringing the bell. The default value is 'off'. Display suggestions with a single <TAB>, instead of two.
set show-all-if-ambiguous on

# This alters the default behavior of the completion functions in a fashion similar to show-all-if-ambiguous. If set to 'on', words which have more than one possible completion without any possible partial completion (the possible completions don't share a common prefix) cause the matches to be listed immediately instead of ringing the bell. The default value is 'off'.
set show-all-if-unmodified on

# If set to 'on', this alters the default completion behavior when inserting a single match into the line. It's only active when performing completion in the middle of a word. If enabled, readline does not insert characters from the completion that match characters after point in the word being completed, so portions of the word following the cursor are not duplicated. For instance, if this is enabled, attempting completion when the cursor is after the 'e' in 'Makefile' will result in 'Makefile' rather than 'Makefilefile', assuming there is a single possible completion. The default value is 'off'.
set skip-completed-text on

# If set to 'on', a character denoting a file's type is appended to the filename when listing possible completions. The default is 'off'.
set visible-stats on

# This allows you to search through your history using the up and down arrow keys, or C-p and C-n
# e.g. type "cd " and press the corresponding key
"\e[A": history-search-backward
"\e[B": history-search-forward
"\C-p": history-search-backward
"\C-n": history-search-forward

# macOS Option + Left/Right arrow keys to move the cursor wordwise
"\e\e[C": forward-word
"\e\e[D": backward-word

# macOS Home/End keys with sensible defaults.
#
# This isn't needed in modern systems e.g. it works out-of-the-box in iTerm2,
# nonetheless we add it here for completeness.
"\e[H": beginning-of-line
"\e[F": end-of-line
