.mc-lists.el
.persistent-scratch
SessionDesktop.el
ac-comphist-file
bookmarks
bookmarks-file
el-get/
genesis.el
history
ido-file
ido.last
projectile-*
recentf
recentf-file
save-places-file
savehist-file
semanticdb/
smex-items-file
straight/
