.mc-lists.el
.persistent-scratch
SessionDesktop.el
ac-comphist-file
bookmarks
bookmarks-file
elpa/
el-get/
genesis.el
genesis_corp.el
history
ido-file
ido.last
network-security.data
places
projectile-*
recentf
recentf-file
save-places-file
savehist-file
semanticdb/
smex-items*
straight/
undo/
