# keep the bazel process alive for 12 hours: 12 * 3600 seconds
startup --max_idle_secs 43200

# increase memory available to the bazel server
startup --host_jvm_args=-Xmx18g --host_jvm_args=-Xms18g

# improve test execution time
build -c opt

# ciarandowney@google.com's tips
build --show_timestamps
test --test_output=errors --test_summary=detailed
