version: 2
updates:
  - package-ecosystem: gitsubmodule
    directory: /
    schedule:
      interval: monthly
    cooldown:
      default-days: 7
    groups:
      all:
        patterns:
          - "*"
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    cooldown:
      default-days: 7
    groups:
      all:
        patterns:
          - "*"
