[user]
	name = Thiago Perrotta
	email = tbperrotta@gmail.com

[core]
	editor = vim
	autocrlf = input

[credential]
	helper = cache

[push]
	default = simple
	followTags = true

[alias]
	cp = cherry-pick
	dc = diff --cached
	ls = log --pretty=format:'%C(yellow)%h%C(white) %an <%ae> %>|(80)%ai%Creset%n%C(bold)%w(0,4,4)%s%C(reset)%n%+b'
	st = status
	xl = log --graph --decorate --all # [--oneline]

	prune = fetch --prune
	stash-all = stash save --include-untracked
	undo = reset --soft HEAD^

	ignore = "!ignore() { curl -L -s https://www.gitignore.io/api/$@; }; ignore"
	world = "!world() { git gc; git remote prune origin; }; world"

[branch]
	autosetupmerge = always
	autosetuprebase = always

[submodule]
	fetchJobs = 0

[help]
	autocorrect = 1

[status]
	showUntrackedFiles = all

[diff]
	tool = vimdiff

[difftool]
	prompt = false

[merge]
	conflictstyle = diff3
	defaultToUpstream = true
	tool = vimdiff

[mergetool]
	prompt = false

[rerere]
	enabled = true
	autoupdate = true

[include]
	path = .gitconfig_corp
