[user]
	name = Thiago Perrotta
	email = thiago@perrotta.dev

# This setup will always prompt for the password.
#   https://git-scm.com/docs/git-send-email
#   https://git-send-email.io/
[sendemail]
	annotate = yes
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpServerPort = 587
	smtpUser = thiago@perrotta.dev

# keep-sorted start block=yes newline_separated=yes
[alias]
	# keep-sorted start
	bd = !branch="$(git branch --show-current)" && git default && git branch -D "${branch:-$1}"
	blank = desc -m \"blank commit\"
	cm = commit
	co = checkout
	cp = cherry-pick
	dc = diff --cached
	default = !git switch --force main &>/dev/null || git switch --force master
	desc = commit --allow-empty -n
	emerge = !git add -A . && git amend -n && git pushm --force-with-lease
	nb = switch --create
	nbt = !git nb "thiagowfx/$(shuf -n1 /usr/share/dict/words | tr '[:upper:]' '[:lower:]')"
	prune-gone = !git fetch -p && git branch -vv | awk '/: gone]/{print $1}' | xargs -r git branch -D
	pushm = !git push $(git remote | head -1) $(git symbolic-ref --short HEAD) -u
	rb = branch -m
	rbi = rebase -i HEAD~10
	rc = rebase --continue
	st = status
	su = submodule update
	world = !git fetch --all && git remote prune origin && git prune && git prune-gone
	# keep-sorted end

	# usage: git ignore go,hugo,vim >> .gitignore
	ignore = !curl -L -s "https://www.gitignore.io/api/$@"

	# log: there's also gitk and tig
	l = log --graph --pretty=oneline --abbrev-commit --all
	# ll from https://registerspill.thorstenball.com/p/how-i-use-git
	ll = !git log --graph --pretty='tformat:%C(always,yellow)%h%C(always,reset) %C(always,green)%ar%C(always,reset){%C(always,bold blue)%an%C(always,reset){%C(always,red)%d%C(always,reset) %s' "$@" | column -t -s '{' | less -XS
	xl = branch -vv

	# hg/fig/depot_tools compatibility
	# keep-sorted start
	amend = commit --amend --no-edit
	purge = clean -f -d
	recommit = commit --reedit-message ORIG_HEAD
	reword = commit --allow-empty --amend -n
	root = rev-parse --show-toplevel
	shelve = stash
	uncommit = !git reset --soft HEAD^ && git restore --staged .
	unshelve = stash apply
	unstash = stash apply
	# keep-sorted end

[apply]
	# Detect whitespace errors when applying a patch.
	whitespace = fix

[branch]
	autosetupmerge = always
	autosetuprebase = always
	sort = -committerdate

[commit]
	verbose = true

[core]
	# Auto-convert CRLF <-> LF for a transparent experience on Windows.
	autocrlf = input
	excludesfile = ~/.gitignore_global
	editor = vim
	# delta > diff-highlight > plain cat
	pager = "delta --diff-highlight 2>/dev/null || ((diff-highlight 2>/dev/null || cat) | ${PAGER:-less})"

[credential]
	# Cache credentials in memory for a while. See git-credential-cache(1).
	helper = cache

[delta]
	navigate = true
	side-by-side = false
	line-numbers = true

# https://git-scm.com/docs/diff-config
[diff]
	algorithm = histogram
	colorMoved = plain
	colorMovedWs = "allow-indentation-change"
	# Do not show "a/" "b/", allows file navigation when supported
	noPrefix = true
	renames = true
	submodule = log

[fetch]
	prune = true
	pruneTags = true

[format]
	# Automatically sign-off patches when using format-patch.
	signoff = true

[help]
	autocorrect = 10

[http]
	# Needed for Gerrit authentication/integration
	cookiefile = ~/.gitcookies

[init]
	# master or main
	defaultBranch = master

[interactive]
	diffFilter = delta --color-only

[merge]
	prompt = true
	tool = diffconflicts

# https://github.com/whiteinge/diffconflicts
[mergetool "diffconflicts"]
	cmd = vim -c DiffConflicts \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
	trustExitCode = true

[mergetool]
	keepBackup = false

[pull]
	rebase = true

[push]
	autoSetupRemote = true
	default = current
	followTags = true

# https://git-scm.com/docs/git-rebase
[rebase]
	# https://thoughtbot.com/blog/autosquashing-git-commits
	autoSquash = true
	# https://cscheng.info/2017/01/26/git-tip-autostash-with-git-pull-rebase.html
	autoStash = true
	# https://github.blog/2022-10-03-highlights-from-git-2-38/
	updateRefs = true

# https://git-scm.com/docs/git-rerere
[rerere]
	autoUpdate = true
	enabled = true

[status]
	# Show individual files in untracked directories.
	showUntrackedFiles = all
	short = true
	branch = true

[submodule]
	# Clone new submodules in parallel with as many jobs.
	fetchJobs = 0

[tag]
	sort = version:refname

[url "git@github.com:"]
	pushInsteadOf = "https://github.com/"
# keep-sorted end

# Import corp configs if any.
[include]
	path = .gitconfig_corp
