[user]
	name = Thiago Perrotta
	email = tbperrotta@gmail.com

# This setup will always prompt for the password.
# There's also https://aur.archlinux.org/packages/git-sendgmail-git/ for an OAuth2-based setup with Gmail.
#   https://git-scm.com/docs/git-send-email
#   https://git-send-email.io/
[sendemail]
	annotate = yes
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpServerPort = 587
	smtpUser = tbperrotta@gmail.com

[alias]
	amend = commit --amend --no-edit
	dc = diff --cached
	st = status

	# usage: git ignore go,hugo,vim >> .gitignore
	ignore = !curl -L -s https://www.gitignore.io/api/$@

	# log; there's also gitk and tig
	l = log --graph --pretty=oneline --abbrev-commit --all

	# hg/fig compatibility
	reword = commit --amend
	shelve = stash
	unshelve = stash apply
	unstash = stash apply

[apply]
	# Detect whitespace errors when applying a patch.
	whitespace = fix

[branch]
	autosetupmerge = always
	autosetuprebase = always

[core]
	# Auto-convert CRLF <-> LF for a transparent experience in Windows.
	autocrlf = input
	editor = vim
	pager = "(diff-highlight 2>/dev/null || cat) | ${PAGER:-less}"

[credential]
	# Cache credentials in memory for a while. See git-credential-cache(1).
	helper = cache

# https://git-scm.com/docs/diff-config
[diff]
	# Make it easier to distinguish moved snippets of code within the same file.
	colorMoved = default
	# Detect copies in addition to renames
	renames = copies
	# A la `git submodule summary`
	submodule = log

[fetch]
	prune = true

[format]
	# Automatically sign-off patches when using format-patch.
	signoff = true

[help]
	autocorrect = 1

[http]
	# Needed for Gerrit authentication
	cookiefile = ~/.gitcookies

[init]
	# Some codebases use 'main' these days
	defaultBranch = master

[merge]
	prompt = true
	tool = diffconflicts

[mergetool]
	keepBackup = false

# https://github.com/whiteinge/diffconflicts
[mergetool "diffconflicts"]
	cmd = vim -c DiffConflicts \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
	trustExitCode = true

[pull]
	rebase = true

[push]
	default = current
	followTags = true

# https://git-scm.com/docs/git-rebase
[rebase]
	# https://thoughtbot.com/blog/autosquashing-git-commits
	autoSquash = true
	# https://cscheng.info/2017/01/26/git-tip-autostash-with-git-pull-rebase.html
	autoStash = true

# https://git-scm.com/docs/git-rerere
[rerere]
	autoupdate = true
	enabled = true

[status]
	# Show individual files in untracked directories.
	showUntrackedFiles = all
	# Show summary of commits for modified submodules
	submoduleSummary = true

[submodule]
	# Clone new submodules in parallel with as many jobs.
	fetchJobs = 0

# Import corp configs if any.
[include]
	path = .gitconfig_corp
