# -*- shell-script -*-

# aliases for sudo!
alias sudo='sudo '

# aliases
alias emq="emacs -nw"
alias pingg="ping google.com"

# verbose output
alias xz="xz -v"
alias gzip="gzip -v"
alias gunzip="gunzip -v"
alias cp="cp -v"
alias ln="ln -v"
alias mv="mv -v"
alias rm="rm -v"
alias rmdir="rmdir -v"
alias chmod="chmod -v"
alias chown="chown -v"

# change default behavior of some programs
alias colordiff="colordiff -uN"
alias cower="cower --color=auto --sort=votes -t ~/.aur"
alias df='df -h'
alias diff="diff -uN"
alias du="du -h"
alias free="free -m"
alias grep="grep --color=auto"
alias i3lock="i3lock -c 111111 -d"
alias lynx="lynx -emacskeys"
alias pgrep="pgrep --list-name"
alias reflector="reflector -x rsync"
alias rsync="rsync --progress"
alias strace="strace -t"
alias trayer="trayer --edge top --align right --widthtype request --SetDockType false"
alias uptime="uptime --pretty"

# Templates

## Android
alias emulator-template="emulator -avd "Intel-10-480x800" -qemu --enable-kvm -dns-server 8.8.8.8,8.8.4.4"
alias emulator-template-kill="adb emu kill"

## FFMpeg
alias ffmpeg-template-screencast-mic="ffmpeg -f x11grab -s wxga -r 30 -i :0.0 -f alsa -ac 2 -i pulse -qscale 0 /tmp/out.mpg"
alias ffmpeg-template-screencast="ffmpeg -f x11grab -s wxga -r 30 -i :0.0 -qscale 0 /tmp/out.mpg"

# Menu maker
alias fluxbox-generate_menu-template="fluxbox-generate_menu -kg -su -t mate-terminal -w www.google.com -is -ds"
alias mmaker-template="mmaker -t Konsole -vf openbox3"

## QEMU
alias qemu-template-test-iso="qemu-system-x86_64 --enable-kvm -m 512M -cdrom" #path here

## VNC
alias vncserver-template-connect="vncviewer -passwd ~/.vnc/passwd localhost:1"
alias vncserver-template-kill="vncserver -kill :1"
alias vncserver-template-start="vncserver -geometry 960x540 -alwaysshared -dpi 96 :1" # using DISPLAY=:1

## Webmin
alias webmin-template="sudo systemctl start webmin && "${BROWSER}" localhost:10000"

## Wget
alias wget-template-pdf="wget -e robots=off -A pdf -mpEkK -np -t inf -T 60 --"
alias wget-template-spider="wget -e robots=off --wait=2 --random-wait --recursive --span-hosts --spider --timestamping --tries=5 --dns-timeout=30 --connect-timeout=5 --read-timeout=5 --level=10 --"

## Winetricks
alias winetricks-template-install="winetricks corefonts vcrun2005 vcrun2008 vb6run"

## World: upgrade your system
alias world="sudo pacman -Syu"
alias aura-template="sudo aura -Akuax"
alias packer-template="sudo packer -Syu --devel"
alias yaourt-template="yaourt -Syu --devel --aur"
alias pacbuilder-template="pacbuilder -Sbkvn"

## Xephyr
alias xephyr-template="Xephyr -ac -br -noreset -screen 1024x768 :1" # set DISPLAY=:1 to execute commands

## Xrandr
alias xrandr-template-reset="xrandr --output LVDS1 --mode 1366x768"
alias xrandr-template-hdmi="xrandr --output HDMI1 --auto --right-of LVDS1"

# Youtube-dl
alias youtube-dl-template-flv="youtube-dl -c -t --restrict-filenames"
alias youtube-dl-template-mp3="youtube-dl -c -t --restrict-filenames --extract-audio --audio-format mp3"

# Environment variables
export BROWSER="/usr/bin/chromium"
export EDITOR="/usr/bin/emacs -nw"
export FILEMANAGER="/usr/bin/thunar"
export PAGER="less"
export TERMINAL="/usr/bin/sakura"
# export PATH="$PATH:/opt/android-sdk/platform-tools/"
export PATH="$PATH:/home/thiago/.gem/ruby/2.1.0/bin/"
export VISUAL="/usr/bin/emacs"
export WINEARCH=win64
export WINEDEBUG=fixme-all
export WINEPREFIX=~/.wine
export _JAVA_OPTIONS='-Dawt.useSystemAAFontSettings=on -Dswing.aatext=true -Dswing.defaultlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel'

# arch-chroot to non-arch systems
function changeroot {
    sudo cp -L /etc/resolv.conf $1/etc/resolv.conf
    sudo mount -t proc proc $1/proc
    sudo mount -t sysfs sys $1/sys
    sudo mount -o bind /dev $1/dev
    sudo mount -t devpts pts $1/dev/pts/
    sudo chroot $1/ /bin/bash
}

# to actually create a chroot, see manpage (uses pacstrap...)
alias systemd-nspawn-template="systemd-nspawn -bD"

# Alternatives include:
# - arch-chroot
# - schroot
# - devtools package (makepkg builds...)


function qkkdiff-file {
    pkg="$(pacman -Qo $1 | awk '//{printf "%s-%s", $(NF-1), $NF;}')"
    bsdtar -xOf /var/cache/pacman/pkg/${pkg}-x86_64.pkg.tar.xz ${1/\//} | diff - $1
    return 0
}


function qkkdiff {
    ver=$(pacman -Q $1 | cut -f2 -d' ')
    pacman -Qkkq $1 | while read package file; do echo $file; bsdtar -xOf /var/cache/pacman/pkg/${package}-${ver}-x86_64.pkg.tar.xz ${file/\//} | diff - $file  ; done
    return 0
}


# File extractor
ex() {
    if [[ -f "$1" ]]; then
	case "$1" in
	    *.tar.lrz)
		b=$(basename "$1" .tar.lrz)
		lrztar -d "$1" && [[ -d "$b" ]] && cd "$b" ;;
	    *.lrz)
		b=$(basename "$1" .lrz)
		lrunzip "$1" && [[ -d "$b" ]] && cd "$b" ;;
	    *.tar.bz2)
		b=$(basename "$1" .tar.bz2)
		tar xjf "$1" && [[ -d "$b" ]] && cd "$b" ;;
	    *.bz2)
		b=$(basename "$1" .bz2)
		bunzip2 "$1" && [[ -d "$b" ]] && cd "$b" ;;
	    *.tar.gz)
		b=$(basename "$1" .tar.gz)
		tar xzf "$1" && [[ -d "$b" ]] && cd "$b" ;;
	    *.gz)
		b=$(basename "$1" .gz)
		gunzip "$1" && [[ -d "$b" ]] && cd "$b" ;;
	    *.tar.xz)
		b=$(basename "$1" .tar.xz)
		tar Jxf "$1" && [[ -d "$b" ]] && cd "$b" ;;
	    *.xz)
		b=$(basename "$1" .gz)
		xz -d "$1" && [[ -d "$b" ]] && cd "$b" ;;
	    *.rar)
		b=$(basename "$1" .rar)
		unrar e "$1" && [[ -d "$b" ]] && cd "$b" ;;
	    *.tar)
		b=$(basename "$1" .tar)
		tar xf "$1" && [[ -d "$b" ]] && cd "$b" ;;
	    *.tbz2)
		b=$(basename "$1" .tbz2)
		tar xjf "$1" && [[ -d "$b" ]] && cd "$b" ;;
	    *.tgz)
		b=$(basename "$1" .tgz)
		tar xzf "$1" && [[ -d "$b" ]] && cd "$b" ;;
	    *.zip)
		b=$(basename "$1" .zip)
		unzip "$1" && [[ -d "$b" ]] && cd "$b" ;;
	    *.Z)
		b=$(basename "$1" .Z)
		uncompress "$1" && [[ -d "$b" ]] && cd "$b" ;;
	    *.7z)
		b=$(basename "$1" .7z)
		7z x "$1" && [[ -d "$b" ]] && cd "$b" ;;
	    *) echo "don't know how to extract '$1'..." && return 1;;
	esac
	return 0
    else
	echo "'$1' is not a valid file!"
	return 1
    fi
}

# typos
alias eamcs="emacs"
alias pacma="pacman"
alias sl="ls"


# Temp
# man2ps: man -t pagename > pagename.ps
# dmidecode: dmidecode -t 1
