# -*- shell-script -*-

alias cp="cp -v -i"
alias ln="ln -v"
alias mv="mv -v -i"
alias rm="rm -v -i"
alias rmdir="rmdir -v"
alias chmod="chmod -v"
alias chown="chown -v"
alias df='df -h'
alias du="du -h"
alias free="free -m"
alias grep="grep --color=auto"
alias pgrep="pgrep --list-name"
alias cower="cower --color=always --sort=votes"
alias emq="emacs -nw"
alias pingg="ping google.com"
alias xephyr-template="Xephyr -ac -br -noreset -screen 800x600 :1"
alias wget-template-basic="wget -e robots=off -mpEkK -np -t inf -T 60 --"
alias wget-template-pdf="wget -e robots=off -A pdf -mpEkK -np -t inf -T 60 --"
alias wget-template-spider="wget -e robots=off --wait=2 --random-wait --recursive --span-hosts --spider --timestamping --tries=5 --dns-timeout=30 --connect-timeout=5 --read-timeout=5 --level=10 --"
alias youtube-dl-template-mp3="youtube-dl -t --restrict-filenames --extract-audio --audio-format mp3"
alias youtube-dl-template-flv="youtube-dl -t --restrict-filenames"
alias fluxbox-generate_menu-template="fluxbox-generate_menu -kg -su -t mate-terminal -w www.google.com -is -ds"
alias mmaker-template="mmaker -t Konsole -vf openbox3"
alias trayer-template="trayer --edge top --align right --widthtype request --SetDockType false"
alias world="sudo pacman -Syyuu"
alias world-aura="sudo aura -Au"
alias world-iogurte="yaourt -Syu --devel --aur"
alias world-debian="sudo aptitude -y update && sudo aptitude -y upgrade && sudo apt-get -y dist-upgrade"
alias world-fedora="sudo yum -y update && sudo yum -y upgrade"
alias world-suse="sudo zypper -n update && sudo zypper -n upgrade && sudo -n zypper dup"

export BROWSER="/usr/bin/chromium"
export EDITOR="emacs -nw"
export VISUAL="emacs"
export PAGER="less"
export _JAVA_OPTIONS='-Dawt.useSystemAAFontSettings=on -Dswing.aatext=true -Dswing.defaultlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel'

# arch-chroot
function changeroot {
    sudo cp -L /etc/resolv.conf $1/etc/resolv.conf
    sudo mount -t proc proc $1/proc
    sudo mount -t sysfs sys $1/sys
    sudo mount -o bind /dev $1/dev
    sudo mount -t devpts pts $1/dev/pts/
    sudo chroot $1/ /bin/bash
}
