[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	shallow = true
	ignore = dirty
[submodule "vim/.vim/vim-plug"]
	path = vim/.vim/vim-plug
	url = https://github.com/junegunn/vim-plug
