# -*- conf -*-

[push]
default = matching # matching|simple

[user]
name = Thiago Perrotta
email = thiagoperrotta95@gmail.com

[credential]
helper = store # store|cache --timeout=7200

[alias]
st = status
logg = log --graph --decorate --pretty=oneline --abbrev-commit --all
loghist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
graph = log --graph --oneline --decorate

[core]
whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[color]
ui = true
