[push]
	default = simple
[user]
	name = Thiago Perrotta
	email = thiagoperrotta95@gmail.com
[credential]
	helper = store
[alias]
	l = commit -a -m "update"
  p = push
	puhs = push
	log1 = log --graph --decorate --oneline --pretty=format:\"%h %ad | %s%d [%an]\" --date=short
	log2 = log --graph --decorate --oneline --all
	st = status
[core]
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[color]
	diff = auto
	status = auto
	branch = auto
	grep = auto
	interactive = auto
	showbranch = auto
	ui = auto
[github]
	user = thiagowfx
[clangFormat]
	style = Google
