[submodule "third-party/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	shallow = true
[submodule "third-party/i3blocks"]
	path = i3/.i3blocks
	url = https://github.com/vivien/i3blocks
[submodule "fish/oh-my-fish"]
	path = fish/.local/share/omf
	url = https://github.com/oh-my-fish/oh-my-fish
[submodule "git/.gitgit"]
	path = git/.gitgit
	url = https://github.com/git/git
[submodule "zsh/.zplug"]
	path = zsh/.zplug
	url = https://github.com/zplug/zplug
