[submodule "main/.tmux/plugins/tpm"]
	path = main/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	shallow = true
[submodule "main/.vim/vim-plug"]
	path = main/.vim/vim-plug
	url = https://github.com/junegunn/vim-plug
	shallow = true
[submodule "vendor/grml-etc-core"]
	path = vendor/grml-etc-core
	url = https://github.com/grml/grml-etc-core
	shallow = true
[submodule "main/.zsh/zsh-autosuggestions"]
	path = main/.zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	shallow = true
[submodule "main/.zsh/zsh-history-substring-search"]
	path = main/.zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
	shallow = true
[submodule "main/.zsh/zsh-syntax-highlighting"]
	path = main/.zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
	shallow = true
