[push]
	default = simple
[user]
	name = Thiago Perrotta
	email = thiagoperrotta95@gmail.com
[credential]
	helper = store
[alias]
	puhs = push
	l = commit -a -m "update"
  p = push
  s = status
	st = status
[core]
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[color]
	diff = auto
	status = auto
	branch = auto
	grep = auto
	interactive = auto
	showbranch = auto
	ui = auto
[github]
	user = thiagowfx
