#!/bin/sh

eval $(/usr/bin/gnome-keyring-daemon --start --components=gpg,pkcs11,secrets,ssh)
export GPG_AGENT_INFO SSH_AUTH_SOCK

[[ -f "$HOME/.fehbg" ]] && eval $(cat $HOME/.fehbg)
[[ -f "$HOME/.Xmodmap" ]] && xmodmap "$HOME/.Xmodmap"
[[ -f "$HOME/.Xresources" ]] && xrdb -merge "$HOME/.Xresources"

# Autostarter.
which dex &>/dev/null && dex -a &

# No touchpad clicking while typing.
which syndaemon &>/dev/null && syndaemon -i 1 -t -k -d &

# Monitor color temperature management.
which xflux &>/dev/null && xflux -l 23 -g 43 &

# Hide the mouse when idle.
which unclutter &>/dev/null && unclutter &
