! better font rendering
Xft.autohint: true
Xft*antialias: true
Xft*hinting: true
Xft.hintstyle: hintslight
Xft*dpi: 100
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! better urxvt settings
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt*termName: rxvt-unicode
URxvt*background: #000000
URxvt*foreground: #ffffff
URxvt.scrollBar: false
URxvt*font: xft:Terminus:size=10:antialias=true
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.perl-ext-common: default,clipboard,matcher,selection-to-clipboard,tabbed
URxvt.keysym.Control-Shift-C: perl:clipboard:copy
URxvt.keysym.Control-Shift-V: perl:clipboard:paste
URxvt.url-launcher: xdg-open
URxvt.matcher.button: 1

! better urxvt colors. For more, see http://xcolors.net
! this is felixonmars style @ http://felixc.at/URxvt
urxvt.color1:  #cc0000
urxvt.color2:  #4e9a06
urxvt.color3:  #c4a000
urxvt.color4:  #3465a4
urxvt.color5:  #75507b
urxvt.color6:  #06989a
urxvt.color7:  #d3d7cf
urxvt.color8:  #555753
urxvt.color9:  #ef2929
urxvt.color10: #8ae234
urxvt.color11: #fce94f
urxvt.color12: #729fcf
urxvt.color13: #ad7fa8
urxvt.color14: #34e2e2
urxvt.color15: #eeeeec
