! font settings
Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! xterm
XTerm*metaSendsEscape: true
XTerm*locale: true
Xterm*saveLines: 4096
XTerm*reverseVideo: on
xterm*faceName: Ubuntu Mono:size=11:antialias=true

! urxvt (rxvt-unicode)
URxvt*background: #000000
URxvt*foreground: #ffffff
URxvt.scrollBar: false
URxvt.font: xft:Ubuntu Mono:size=11
URxvt.perl-ext-common: default,tabbed
