! font settings
Xft.autohint: true
Xft*antialias: true
Xft*hinting: true
Xft.hintstyle: hintslight
Xft*dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! xterm
XTerm*metaSendsEscape: true
XTerm*locale: true
Xterm*saveLines: 4096
XTerm*reverseVideo: on
xterm*faceName: xft:Inconsolata:size=10:antialias=true

! urxvt (rxvt-unicode)
URxvt*background: #000000
URxvt*foreground: #ffffff
URxvt.scrollBar: false
URxvt*font: xft:Inconsolata:size=10:antialias=true
URxvt.iso14755: false

! urxvt extensions
URxvt.perl-ext-common: default,clipboard,tabbed
URxvt.keysym.Control-Shift-C: perl:clipboard:copy
URxvt.keysym.Control-Shift-V: perl:clipboard:paste

! See http://xcolors.net/
! jasonwryan style
! Black
*color0:   #222222
*color8:   #454545
! Red
*color1:   #9E5641
*color9:   #CC896D
! Green
*color2:   #6C7E55
*color10:  #7DB37D
! Yellow
*color3:   #CAAF2B
*color11:  #BFB556
! Blue
*color4:   #4c8ea1
*color12:  #6bc1d0
! Magenta
*color5:   #956D9D
*color13:  #C18FCB
! Cyan
*color6:   #7C9AA6
*color14:  #8FADBF
! White
*color7:   #909090
*color15:  #FFFFFF
