[user]
	name = Thiago Perrotta
	email = tbperrotta@gmail.com

# https://git-scm.com/docs/git-send-email
[sendemail]
	annotate = yes
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpServerPort = 587
	smtpUser = tbperrotta@gmail.com

[alias]
	amend = commit --amend
	dc = diff --cached
	ignore = "! curl -L -s https://www.gitignore.io/api/$@"
	st = status

	# log
	l = log --graph --pretty=oneline --abbrev-commit
	xl = log --graph --decorate --all

	# shelve
	shelve = stash
	unshelve = stash apply

[apply]
	# Detect whitespace errors when applying a patch.
	whitespace = fix

[branch]
	autosetupmerge = always
	autosetuprebase = always

[core]
	# Auto-convert CRLF into LF when adding a file to the index, and vice-versa, when checking out code.
	# Yields a transparent experience in Windows.
	autocrlf = input
	editor = vim

[credential]
	# Cache credentials in memory for a short period of time. See git-credential-cache[1] for details.
	helper = cache

# https://git-scm.com/docs/diff-config
[diff]
	# Make it easier to distinguish moved snippets of code within the same file.
	colorMoved = zebra
	# i/ = index, w/ = working copy, instead of default a/ and b/
	mnemonicprefix = true
	# Detect copies in addition to renames
	renames = copies
	# A la `git submodule summary`
	submodule = log

[fetch]
	prune = true

[help]
	autocorrect = 1

[init]
	defaultBranch = master

[merge]
	prompt = true
	tool = diffconflicts

[mergetool]
	keepBackup = false

# https://github.com/whiteinge/diffconflicts
[mergetool "diffconflicts"]
	cmd = vim -c DiffConflicts \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
	trustExitCode = true

[pull]
	rebase = true

[push]
	default = current
	followTags = true

# https://git-scm.com/docs/git-rebase
[rebase]
	autosquash = true

# https://git-scm.com/docs/git-rerere
[rerere]
	autoupdate = true
	enabled = true

[status]
	# Show individual files in untracked directories.
	showUntrackedFiles = all
	# Show summary of commits for modified submodules
	submoduleSummary = true

[submodule]
	# Clone new submodules in parallel with as many jobs.
	fetchJobs = 0

# Import corp configs if any.
[include]
	path = .gitconfig_corp
