#!/bin/sh
# shellcheck source=/dev/null
#
# Sourced by most display managers (GDM, LightDM, LXDM, SDDM, ly, etc).
# ~/.xinitrc is configured to source it as well.
#
# https://wiki.archlinux.org/title/Xprofile

# Load Xmodmap.
[ -f ~/.Xmodmap ] && xmodmap ~/.Xmodmap

# Load Xresources.
[ -f ~/.Xresources ] && xrdb -merge ~/.Xresources

# fix java application decorations, for tiling window managers
export _JAVA_AWT_WM_NONREPARENTING=1

# make Chrome pick up proxy settings stored in gconf
export DESKTOP_SESSION=gnome

# HiDPI settings for GTK3+
export GDK_DPI_SCALE=0.5
export GDK_SCALE=2

# HiDPI settings for QT
export QT_FONT_DPI=192

# Set preferred terminal emulator in reverse order of preference for i3-sensible-terminal.
hash tilix >/dev/null 2>&1 && export TERMINAL="tilix"
hash alacritty >/dev/null 2>&1 && export TERMINAL="alacritty"

# Set X11 wallpaper if existing.
[ -x ~/.fehbg ] && ~/.fehbg

# xset s 1200  # 20min
# xss-lock -l -n /usr/lib/xsecurelock/dimmer -- xsecurelock
