#!/bin/sh
# shellcheck source=/dev/null
#
# Sourced by most display managers (GDM, LightDM, LXDM, SDDM, etc).
# ~/.xinitrc is configured to source it as well.
#
# https://wiki.archlinux.org/title/Xprofile

# Parse user session environment variables.
# This file is shared with the systemd user instance.
# Export all variables: https://stackoverflow.com/a/30969768/1745064
set -a
[ -r ~/.config/environment.d/graphical.conf ] && . ~/.config/environment.d/graphical.conf
set +a

# Source base shell functions.
[ -r ~/.shellrc ] && . ~/.shellrc

# Set preferred terminal emulator in order of preference for i3-sensible-terminal.
set_env TERMINAL alacritty tilix

# Set X11 wallpaper if existing.
[ -x ~/.fehbg ] && ~/.fehbg

# Set up screensaver and auto lockscreen.
screensaver() {
	xset s 1200  # 20min
	if hash xsecurelock >/dev/null 2>&1; then
		XSECURELOCK_COMPOSITE_OBSCURER=0 xss-lock -l -n /usr/lib/xsecurelock/dimmer -- xsecurelock &
	fi
}

# Start misc applications for Arch Linux.
arch_autostart() {
	screensaver

	picom -i 0.95 --daemon --backend glx
	udiskie --smart-tray &

	# Autostart XDG applications (.desktop files).
	# https://wiki.archlinux.org/title/XDG_Autostart
	dex --autostart --environment i3
}

[ -f "/etc/arch-release" ] && arch_autostart
