# Helper functions {{{
# HELPER: source the given file(s) if it exists.
src_file() {
	for f in "$@"; do
		[[ -f "$f" ]] && source "$f"
	done
}

# HELPER: source the given directory(ies) if it exists.
src_dir() {
	for d in "$@"; do
		if [[ -d "$d" ]]; then
			src_file $d/*
		fi
	done
}

# HELPER: Creates an alias iff the specified program and/or the given file
# exists on the system.
#
# Arguments:
#  $1 (mandatory): the alias
#  $2 (mandatory): its value
#  $3 (optional): a program (e.g. vim or /usr/bin/vim)
#  $4 (optional): a file (e.g. $HOME/directory)
#
add_alias() {
	[[ "x$3" != "x" ]] && ! command -v "$3" &>/dev/null && return
	[[ "x$4" != "x" ]] && [ ! -e "$4" ] && return
	alias "$1"="$2"
}

# HELPER: Sets an environment variable iff its correlated program
# is installed and/or if the given file exists on the system.
#
# Arguments:
#  $1 (mandatory): the environment variable (e.g. EDITOR)
#  $2 (mandatory): its value
#  $3 (optional): a program (e.g. vim or /usr/bin/vim)
#  $4 (optional): a file (e.g. $HOME/directory)
#
add_env() {
	[[ "x$3" != "x" ]] && ! command -v "$3" &>/dev/null && return
	[[ "x$4" != "x" ]] && [ ! -e "$4" ] && return
	export "$1"="$2"
}

# HELPER: Prepend the given argument(s) to the PATH variable.
add_paths() {
	for d in "$@"; do
		add_env PATH "$d:$PATH" "" "$d"
	done
}
# }}}

command -v thefuck &>/dev/null && eval "$(thefuck --alias)"

# change command behavior {{{
if command -v nproc &>/dev/null; then
	NPROC=$(nproc)
	add_alias make "make -j${NPROC} -l${NPROC}" make
elif command -v sysctl &>/dev/null; then
	NPROC=$(sysctl -n hw.ncpu)
	add_alias make "make -j${NPROC} -l${NPROC}" make
fi
unset NPROC

add_alias .. "cd .." cd
add_alias ... "cd ..." cd
add_alias ninja "ninja -v"
add_alias tmux "tmux -2" tmux
add_alias xclip "xclip -selection clipboard" xclip
# }}}

# verbosity / human-friendliness {{{
add_alias colordiff "colordiff -uN" colordiff
add_alias diff "diff -uN" diff
add_alias diff "colordiff" colordiff

add_alias chmod "chmod -v" chmod
add_alias chown "chown -v" chown
add_alias cp "cp -v" cp

add_alias cower "cower --color=always --sort=votes" cower
add_alias curl "curl -v -L" curl
add_alias du "du -h" du
add_alias free "free -h" free
add_alias hexdump "hexdump -C" hexdump
add_alias ln "ln -v" ln
add_alias mv "mv -v" mv
add_alias netstat "netstat -pln" netstat
add_alias pgrep "pgrep -fl" pgrep
add_alias pstree "pstree -p" pstree
add_alias tree "tree -C" tree

add_alias youtube-dl-mp3   "youtube-dl --continue --title --restrict-filenames --extract-audio --audio-format mp3" youtube-dl
add_alias youtube-dl-video "youtube-dl --continue --title --restrict-filenames" youtube-dl
# }}}

# {{{ ls
[[ $(uname) = "Darwin" ]] && add_alias ls "ls -F" ls || add_alias ls "ls --color=always" ls
add_alias sl "ls" ls
add_alias l "ls -l" ls
add_alias ll "l" ls
add_alias la "ls -al" ls
# }}}

# command abbreviation / alternatives {{{
add_alias ack "ack-grep" ack-grep
add_alias g "git" git
add_alias gi "git" git
add_alias i3lock "i3lock -c 777777" i3lock
add_alias pingg "ping google.com" ping
add_alias xclip "xclip -selection clipboard" xclip
add_alias unstow "stow -D" stow

t-cmake-clean() {
       local BUILD=$(basename $(pwd))
       cd ..
       rm -rf $BUILD
       mkdir $BUILD && cd $BUILD
}
# }}}

# Environment variables {{{
add_env CLICOLOR "1" ls
add_env GREP_OPTIONS '--color=auto' grep
add_env LSCOLORS "GxFxCxDxBxegedabagaced" ls
add_env EDITOR "vim" vim
add_env VISUAL "$EDITOR" "$EDITOR"
add_env LESS "-R" less
add_env GTEST_COLOR "YES"
# }}}

# PATH {{{
add_paths "$HOME/bin" "$HOME/.bin" "$HOME/.local/bin"

# MacPorts
add_paths "/opt/local/bin" "/opt/local/sbin"

# HomeBrew
add_paths "/usr/local/sbin"

# RubyGems
command -v ruby &>/dev/null && add_paths "$(ruby -rubygems -e "puts Gem.user_dir")/bin"
# }}}

# python: virtualenvwrapper {{{
add_env WORKON_HOME "$HOME/.virtualenvs" virtualenvwrapper.sh "/usr/local/bin/virtualenvwrapper.sh"
src_file "/usr/local/bin/virtualenvwrapper.sh"
# }}}

# vim: fdm=marker ft=sh
