# Author: Anze Robic - anze.robic@gmail.com

# Background

# background: 					flat
# background.color: 				#000000
# background.colorTo:				#000000

# Fonts
					
menu.frame.font:                                opensans-10
menu.title.font:			        opensans-10
toolbar.clock.font:			        opensans-10
toolbar.workspace.font:			        opensans-10
toolbar.iconbar.focused.font:		        opensans-10
toolbar.iconbar.unfocused.font:                 opensans-10
window.font:				        opensans-9:bold

# Menu

menu.bevelWidth:				2
menu.roundCorners:                              

menu.itemHeight:				26
menu.titleHeight:				20

menu.borderColor:				#333330
menu.borderWidth:				1

menu.bullet.position:				Right
menu.bullet:					triangle
menu.frame.underlineColor:

menu.submenu.pixmap:					
menu.hilite.submenu.pixmap:				

menu.selected.pixmap:					
menu.hilite.selected.pixmap:			

menu.unselected.pixmap:					
menu.hilite.unselected.pixmap:			

menu.title:
menu.title.pixmap:					
menu.title.justify:				center
menu.title.color:				#3c3b37
menu.title.colorTo:				#3c3b37
menu.title.textColor:				#eae3d1

menu.frame:					
menu.frame.pixmap:			
menu.frame.justify:				left
menu.frame.color:				#3c3b37
menu.frame.colorTo:				#3c3b37
menu.frame.textColor:				#eae3d1
menu.frame.disableColor:			#99958b

menu.hilite:					flat
menu.hilite.pixmap:				menuhilite.xpm
menu.hilite.color:				#7fa5d5
menu.hilite.colorTo:				#658fc4
menu.hilite.textColor:				#ffffff

# Toolbar

toolbar.bevelWidth:				1

toolbar.borderWidth:				0
toolbar.borderColor:				#

toolbar.height:					24

toolbar.justify:				center

toolbar:					flat
toolbar.pixmap:					tbarufcs.xpm
toolbar.color:					#
toolbar.colorTo:				#

toolbar.clock:					flat
toolbar.clock.pixmap:				tbarufcs.xpm	
toolbar.clock.justify:				center
toolbar.clock.color:				#
toolbar.clock.colorTo:				#
toolbar.clock.textColor:			#eae3d1

toolbar.workspace:				flat
toolbar.workspace.pixmap:			tbarufcs.xpm	
toolbar.workspace.justify:			Center
toolbar.workspace.color:			#
toolbar.workspace.colorTo:			#
toolbar.workspace.textColor:			#eae3d1

toolbar.button:					flat 
toolbar.button.pixmap:				tbarufcs.xpm
toolbar.button.color:				#
toolbar.button.colorTo:				#
toolbar.button.picColor:			#eae3d1
toolbar.button.pressed:				flat
toolbar.button.pressed.pixmap:			tbarfcs.xpm
toolbar.button.pressed.color:			#
toolbar.button.pressed.colorTo:			#
toolbar.button.pressed.picColor:		#

toolbar.iconbar.borderWidth:			0
toolbar.iconbar.borderColor:			#

toolbar.iconbar.empty:				flat
toolbar.iconbar.empty.pixmap:			tbarufcs.xpm
toolbar.iconbar.empty.color:			#
toolbar.iconbar.empty.colorTo:			#

toolbar.iconbar.focused.borderWidth:	        0
toolbar.iconbar.focused.borderColor:	        #
toolbar.iconbar.focused:			flat
toolbar.iconbar.focused.pixmap:			tbarfcs.xpm
toolbar.iconbar.focused.color:			#
toolbar.iconbar.focused.colorTo:		#
toolbar.iconbar.focused.textColor:		#fff8ec
toolbar.iconbar.focused.justify:		center

toolbar.iconbar.unfocused.borderWidth:	        0
toolbar.iconbar.unfocused.borderColor:          #
toolbar.iconbar.unfocused:			flat
toolbar.iconbar.unfocused.pixmap:		tbarufcs.xpm
toolbar.iconbar.unfocused.color:		#
toolbar.iconbar.unfocused.colorTo:		#
toolbar.iconbar.unfocused.textColor:	        #eae3d1
toolbar.iconbar.unfocused.justify:		center

# Window

window.bevelWidth:				0
window.shade:					false
window.borderWidth:				1
window.borderColor:				#484741
window.roundCorners:                            TopLeft TopRight

window.justify:					Center

window.title.height:				27

window.title.focus:				flat
window.title.focus.pixmap:			windowlabel.xpm
window.title.focus.color:			#
window.title.focus.colorTo:			#
window.title.unfocus:				flat
window.title.unfocus.pixmap:			
window.title.unfocus.color:			#
window.title.unfocus.colorTo:			#

window.label.focus:				flat

window.label.focus.pixmap:			windowlabel.xpm
window.label.focus.color:			
window.label.focus.colorTo:			#
window.label.focus.textColor:			#fff8ec
window.label.unfocus:				flat
window.label.unfocus.pixmap:			windowlabel.xpm
window.label.unfocus.color:			#
window.label.unfocus.colorTo:			#
window.label.unfocus.textColor:			#99958b

window.button.focus:				flat
window.button.focus.color:      		#
window.button.focus.colorTo:      		#
window.button.focus.picColor:			#
window.button.unfocus:				flat
window.button.unfocus.Color:			#
window.button.unfocus.ColorTo:			#
window.button.unfocus.picColor:			#
window.button.pressed:				flat
window.button.pressed.color:			#
window.button.pressed.colorTo:			#
window.button.pressed.picColor:			#

window.shade.pixmap:				
window.shade.unfocus.pixmap:			
window.shade.pressed.pixmap:			

window.unshade.pixmap:				
window.unshade.unfocus.pixmap:		
window.unshade.pressed.pixmap:		

window.menuicon.pixmap:			
window.menuicon.unfocus.pixmap:	
window.menuicon.pressed.pixmap:	

window.close.pixmap:                            closefcs.xpm
window.close.unfocus.pixmap:	                closeufcs.xpm
window.close.pressed.pixmap:	                closepressed.xpm

window.iconify.pixmap:                          minimizefcs.xpm
window.iconify.unfocus.pixmap:	                minimizeufcs.xpm
window.iconify.pressed.pixmap:	                minimizeufcs.xpm

window.maximize.pixmap:                         maximizefcs.xpm
window.maximize.unfocus.pixmap:	                maximizeufcs.xpm
window.maximize.pressed.pixmap:	                maximizeufcs.xpm

window.stick.pixmap:		                stickfcs.xpm
window.stick.unfocus.pixmap:	                stickfcs.xpm
window.stick.pressed.pixmap:	                stickpressed.xpm

window.stuck.pixmap:		                stuckfcs.xpm
window.stuck.unfocus.pixmap:	                stuckfcs.xpm
window.stuck.pressed.pixmap:	                stickpressed.xpm

window.handle.focus:				flat
window.handle.focus.pixmap:	
window.handle.focus.color:			#3c3b37
window.handle.focus.colorTo:			#3c3b37
window.handle.unfocus:				flat
window.handle.unfocus.pixmap:	
window.handle.unfocus.color:			#3c3b37
window.handle.unfocus.colorTo:			#3c3b37
window.handleWidth:				2

window.grip.focus:				flat
window.grip.focus.pixmap:	
window.grip.focus.color:			#55544f
window.grip.focus.colorTo:			#55544f
window.grip.unfocus:				flat
window.grip.unfocus.pixmap:	
window.grip.unfocus.color:			#55544f
window.grip.unfocus.colorTo:			#55544f
