- name: Set up keyboard
  block:
    - name: Disable double space auto-period on macos
      community.general.osx_defaults:
        domain: NSGlobalDomain
        key: NSAutomaticPeriodSubstitutionEnabled
        type: bool
        value: false
        state: present

    - name: Set fn key to show emoji & symbols
      community.general.osx_defaults:
        domain: com.apple.HIToolbox
        key: AppleFnUsageType
        type: int
        value: 2
        state: present

    - name: Disable text auto-correct
      community.general.osx_defaults:
        domain: NSGlobalDomain
        key: NSAutomaticSpellingCorrectionEnabled
        type: bool
        value: false
        state: present

- name: Configure applications
  block:
    - name: Show all filenames in finder by default
      community.general.osx_defaults:
        domain: NSGlobalDomain
        key: AppleShowAllExtensions
        type: bool
        value: true
        state: present

    - name: Disable the annoying backswipe in google chrome
      community.general.osx_defaults:
        domain: com.google.Chrome
        key: AppleEnableSwipeNavigateWithScrolls
        type: bool
        value: false
        state: present

    # https://stackoverflow.com/questions/98310/focus-follows-mouse-plus-auto-raise-on-mac-os-x
    - name: Set focus follows mouse on Terminal.app
      community.general.osx_defaults:
        domain: com.apple.Terminal
        key: FocusFollowsMouse
        type: bool
        value: true
        state: present

    # https://stackoverflow.com/questions/39972335/how-do-i-press-and-hold-a-key-and-have-it-repeat-in-vscode
    - name: Unset key press and hold on VSCode.app
      community.general.osx_defaults:
        domain: com.microsoft.VSCode
        key: ApplePressAndHoldEnabled
        type: bool
        value: false
        state: present

- name: Do not show recent applications in the dock
  community.general.osx_defaults:
    domain: com.apple.dock
    key: show-recents
    type: bool
    value: false
    state: present

# https://docs.ansible.com/ansible/latest/collections/community/general/osx_defaults_module.html
- name: Enable software auto update
  become: true
  community.general.osx_defaults:
    domain: /Library/Preferences/com.apple.SoftwareUpdate
    key: AutomaticCheckEnabled
    type: int
    value: 1

- name: Enable tap to click on touchpad
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: com.apple.mouse.tapBehavior
    type: int
    value: 1
    state: present

- name: Sudo integration with touch id
  become: true
  ansible.builtin.lineinfile:
    create: true
    mode: '0444'
    path: /etc/pam.d/sudo
    regexp: 'auth\s+sufficient\s+pam_tid.so'
    line: 'auth       sufficient     pam_tid.so'
