# start a program automatically if 
# 1) it is installed on the system
# 2) an (optional) file provided as argument exists on the system
# 3) it is not runing already
#
# Arguments:
#   $1: what should be executed
#   $2: program that should exist (e.g. vim)
#   $3: an optional file (full-path) (e.g. $HOME/.vimrc)
#
startprog() {
    [[ "x$2" != "x" ]] && ! command -v "$2" &>/dev/null && return
    command -v pidof &>/dev/null && pidof "$2" &>/dev/null && return
    [[ "x$3" != "x" ]] && [ ! -e "$3" ] && return
    eval "$1" &
}

startprog "parcellite" parcellite
startprog "feh --bg-scale $HOME/.wallpaper.png" feh $HOME/.wallpaper.png
